body
{
/*font-family:Times;*/
    margin: 0px;
    padding: 0px;
}
#main
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 960px;
    height: 540px;
    z-index : 2;
}
/*
@font-face
{
    font-family:Times;
    src: url('../times.ttf');
}
*/
#background
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 960px;
    height: 540px;
    z-index : 0;
}
#background2
{
    position: absolute;
    top: 491px;
    left: 0px;
    width: 960px;
    height: 49px;
    z-index : 1;
}
#rmtpplayerHD
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 960px;
    height: 540px;
    z-index : 0;
}
#top
{
    position: absolute;
    top: 2px;
    left: 0px;
    height: 48px;
    width: 100%;
    font-size:16px;
    overflow:hidden;
    font-weight:bold;
    color:#EEEEEE;
    z-index :9999;
}
#top #version
{
    position: absolute;
    left:35px;
	top:20px;
	text-align: center;
	font-size:16px;
	float:left;
	color: #E5F0CD; 

}
#top #widget_date
{
    position: absolute;
	text-align: center;
	height: 16px;
	
	color: #E5F0CD; 
    left:520px;
	top: 20px;
	float:left;
}
#top #widget_time
{
    position: absolute;
	text-align: center;
	font-size:33px;
	color: #E5F0CD;
	height: 20px;
	width: 250px;
    left:700px;
	top: 10px;
}
#help_navi_menu 
{
    position: absolute;
	top: 500px;
    left: 10px;
    height: 30px;
    width: 100%;
    font-size:18px;
    overflow:hidden;
    color: #EEEEEE;
    z-index : 9999;
}
#navi_button
{
    margin-top: 2px;
    float:left;
}
#navi_helpertext
{
	margin-top: 7px;
    padding-right:9px;
    padding-left:2px;
    float:left;
}
#navi_helpertext1
{
    margin-top: 7px;
    padding-right:4px;
    padding-left:1px;
    float:left;
}

#help_set_par
{
    position:absolute;
    left:120px;
    top: 226px; 
    width: 254px; 
    height:44px;
	border: 1px solid #999999;
    z-index:5;
}
#set_helpertext
{
    margin-top: 7px;
	width: 150px;
	font-size:28px;
	color: #999999;
    float:left;
    text-align:center;
}
#help_button_l
{
    margin: 5px;
    float:left;
}
#help_button_r
{
    margin: 5px;
    float:right;
}
#rightHalf
{
    position: absolute;
    left:500px;
    top: 56px; /*50*/
    width: 440px;
    height: 430px; /*439*/
    border: 1px solid #CCCCCC;
	border-radius: 10px 10px;
    background-image: url("../img/bg4.png");
    font-size:18px;
    z-index : 4; 
}
#rightHalf #allInput
{
    position: absolute;
    top: 0px; /*0*/
    left:15px;  /*12*/
    width: 440px; /*435*/
	font-size:16px; /**/
}
#rightHalf #allInfo
{
    position: absolute;
    padding-top: 0px;
	left:0px;
    width: 420px; 
}

#rightHalf  #allInput form
{
    padding-top:4px;
    padding-left:2px;
    margin: 0px;
    height: 30px;
    width:400px;/**/
    overflow:hidden;
    float:left;
    border-bottom: 1px solid #777777;
	border-top: 1px solid #777777;
	border-left: 2px solid #777777;
	border-right: 2px solid #777777;
}

#rightHalf  #allInput input
{
    height: 22px;
	font-size:16px;
    float:right;
}

#rightHalf  #allInput div
{
    height: 22px;
	font-size:16px; /*17*/
    float:right;
    text-align:center;
}
#rightHalf  #allInput #search
{
    background-color:#eeeeee;
    border: 2px solid #999999;
}
#rightHalf  #allInput #search_h
{
    font-size:20px;
    background-color:#eeeeee;
    border: 2px solid #999999;
}
#rightHalf  #allInput #psearch
{
    width: 65px;
    height: 20px;
    float:left;
}
#rightHalf  #allInput #text_form0
{
	width: 325px;/**/
    height: 20px;
    float:left;
}
#rightHalf  #allInput #text_form1
{
	width: 316px;/**/
    height: 20px;
    float:left;
}
#rightHalf  #allInput #text_form2
{
    width: 240px;/**/
    height: 20px;
    float:left;
}
#rightHalf  #allInput #text_form3
{
	width: 240px;/**/
    height: 20px;
    float:left;
}
#infoList
{
    position:absolute;
    left:10px;/*0*/
    top:0px;
    width:420px; /*440*/
    height:432px;
    overflow:hidden;
    color:#EEEEEE;
    font-size:18px;
    z-index : 4;
}
#infoList td
{
    padding-right:5px;
}

#ya_date
{
    position:absolute;
    top:0px; 
    left:0px; 
	padding-top:2px;
	padding-left:10px;
    width:426px; 
    height:28px;
    color:#ffffff;
    font-size:22px;
    font-weight:bolder;
    overflow:hidden;
    z-index : 4;
}
#ya_info
{
    position:absolute;
    left:0px; 
    top:34px; 
    width:436px; 
    height:360px;
    color:#ffffff;
    font-size:20px;
    overflow:hidden;
    z-index : 4;
}
#ya_help
{
    position:absolute;
    padding-left:5px; 
    top:398px;
    padding-top:2px;
    width:431px; 
    height:28px;
    font-size:17px;
    color:#ffffff;
    overflow:hidden;
    z-index : 4;
}
#allInput
{
    color:#CCCCCC;
}
#channelList
{
    position:absolute;
    /*left:20px;*/
	left:17px;
    top:56px;	/*49*/
    height:430px;  /*440*/
    width:465px; /*460*/
	border: 0px solid #CCCCCC;
	border-radius: 10px 10px;
	background-image: url("../img/==bg4.png");
    z-index : 3;
}
#channelList .channel
{
    color: #FFFFFF; 
	margin-top: 7px; /**/
}
#channelList .number,#channelList .channel_logo,#channelList .chan_info
{
    float:left;
}
#channelList .number
{
    margin-left: 8px; 
    width:54px;
    height: 32px;
    padding-top:6px;
    font-size:24px;
    text-align:center;
    background-repeat:no-repeat;
    overflow:hidden;
}
#channelList .channel_logo img
{ 
    position:absolute;
    left:75px;
    width: 38px;
    height:37px;
}
#channelList .channel_logo
{
	width: 65px;/*58*/
    height:38px; /*37*/	
	padding-top: 1px;
}
#channelList .chan_info
{
    width: 330px;
    height:42px; /*44*/
	overflow: hidden;
    background-repeat:no-repeat;
    left:10px;
}

#channelList .channel_name
{
    margin-left:0px;
    height:24px;
    width:320px;  
    font-size:19px; /*20*/
    color: #FFFFFF; 
	white-space: pre;
}

#channelList .channel_box
{
	float: left;
	width: 320px;
	height: 24px;
	overflow: hidden;
	padding-top: 9px;
	margin-left: 6px;
}


#statusbar
{
    position: absolute;
    padding:4px;
    left: 10px;
    top: 6px;
    height: auto;
    width: auto;
	max-width: 660px;
    color:#E5F0CD;
    font-size:18px;
    text-align:center; 
	border-radius: 10px;
	background-image: url("../img/player_bg.png");
	border: 0px solid;
    z-index : 200; 
}

#statusbar1
{ 
    position: absolute; 
    top: 6px;
    left: 443px;
    height: 40px;
    width: 74px;
    overflow:hidden;
    color:#E5F0CD;
    text-align:center;
	font-size:36px;
    z-index : 200;
}
#selectbox
{
	position: absolute;
	top: 60px;
	left: 550px;
	width: 300px;
	height: auto;
	padding:10px;
	color:#FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 10px 10px;
	background-image: url("../img/bg4.png");
	z-Index:300;
}
#selectbox li
{
	border: 1px solid #CCCCCC;
	color: grey;
	list-style-type: none;
	margin:4px;
	padding:4px;
	border-radius:5px 5px;
}
#loading
{ 
	position : absolute;
	left: 0px;
    top: 0px;
    width: 960px;
    height: 540px;
    background-image: url("../img/ld_bg.png"); 
	z-Index:10;	
}
#loading2
{ 
	position : absolute;
	left: 0px;
    top: 0px;
    width: 960px;
    height: 540px;
    background-image: url("../img/ld_bg2.png");   
	z-Index:11;
}
#imgAnim
{
	position : absolute;
    left: 440px;
    top: 240px;
    width:80px;
    height:80px;
	z-Index:12;
}

#player
{
    position:absolute;
    left:0px;
    top: 0px; 
    width: 100%; 
    height:100px;
    color:#EEEEEE;
    z-index:2000;
}

#player .p_firts_line {
    font-size: 20px;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url("../img/player_bg.png");
}
#p_epg_line
{
    position:absolute;
    top:60px;
    width:100%;
    height: auto;
    font-size:20px;
    background-image: url("../img/player_bg.png");
}

#player #p_second_line
{
    position:absolute;
    top:480px;
    height:60px;
    width:100%;
    background-image: url("../img/player_bg.png");
	
}
#ch
{
	width: 112px;
	position: absolute;
	float: left;
	left: 5px;
	border: 1px solid #999;
	border-radius: 4px;
	height: 53px;
	color: #FFC;
	top: 5px;
}
#ch_number
{
	width: 57px;
	position: absolute;
	float: left;
	font-size: 32px;
	left: 5px;
	height: 30px;
	color: #FFC;
	text-align: center;
}

#ch_img
{
	position: absolute;
	width: 30px;
	height: 29px;
	top: 3px;
	left: 67px;
	float: left;
}
#ch_name
{
	white-space: pre;
	color: #FFC;
	font-size: 24px;
	float: left;
	width: 706px;
	height: 32px;
	margin-left: 0px;	
	text-align: center;
}
#ch_namebox
{
	position: absolute;
	width: 706px;
	top: 5px;
	height: 32px;
	overflow: hidden;
	float: left;
	left: 127px;
}
#resolution
{
	position: absolute;
	height: 17px;
	float: left;
	font-size: 13px;
	border: 1px solid #999;
	border-radius: 4px;
	text-align: center;
	width: 112px;
	color: #FFC;
	left: -1px;
	top: 35px;
}

#time
{
	position: absolute;
	width: 112px;
	height: 38px;
	font-size: 25px;
	color: #FFC;
	top: 5px;
	left: 841px;
	border: 1px solid #999;
	border-radius: 4px;
	padding-bottom: 4px;
	text-align: center;
	padding-top: 11px;
}
#timeInfo
{
	position: absolute;
	color: black;
	text-align: center;
	font-weight: bold;
	width: 100%;
	float: left;
	height: 100%;
    padding-top: 1px;	
	z-index: 50;
}
#epg_info
{
    padding: 4px 4px 0px 0px;
    width:100%;
    float:left;
    text-align:center;
    font-size:18px;
}
#help_navi_l_player
{
    position:relative;
    top:16px;
    left:80px;
    font-size:18px;
}
#help_navi_vod_player
{
    position:relative;
    top:16px;
    left:40px;
    font-size:18px;
}
#p_info_line
{
	position: absolute;
	left: 130px;
	top: 36px;
	height: 23px;
	width: 700px;
    opacity: 0.9;
}
#progressBarBG
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fffafa;
	border: 0px solid;
	border-radius: 9px;
}
#progressBar
{
    position:relative;
    left: 2px;
    top:2px;
	width: 697px;
    height:19px;
	background-color: #ccff00;
	border: 0px solid;
	border-radius: 13px;
}
#black_line_top
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 960px;
    height: 5px;
    z-index: 9999;
    background: black;
}