<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<previewjs>SSIPTV</previewjs>
	<ThumbIcon>icons/ssiptv_106x86.png</ThumbIcon>
	<BigThumbIcon>icons/ssiptv_115x95.png</BigThumbIcon>
	<ListIcon>icons/ssiptv_85x70.png</ListIcon>
	<BigListIcon>icons/ssiptv_95x78.png</BigListIcon>
	<category>Lifestyle</category>
	<autoUpdate>n</autoUpdate>
	<preicon></preicon>
	<cpname></cpname>
	<cplogo></cplogo>
	<cpauthjs></cpauthjs>
	<ver>1.1</ver>
	<mgrver></mgrver>
	<fullwidget>y</fullwidget>
	<srcctl>y</srcctl>
	<ticker>n</ticker>
	<childlock>n</childlock>
	<audiomute>y</audiomute>
	<videomute>y</videomute>
	<dcont>y</dcont>
	<movie>y</movie>
	<type>user</type>
	<widgetname>SSIPTV</widgetname>
	<description></description>
	<width>1280</width>
	<height>720</height>
	<mouse>y</mouse>
	<author>
		<name>Eugene Konkov</name>
		<email>support@ss-iptv.com</email>
		<link>http://ss-iptv.com/</link>
		<organization>SS IPTV Team</organization>
	</author>
</widget>
